.Navbar{
    background-color: #AC2B37;
}

.banner-img{
    --width: 70%;
    margin-left: calc( (100% - var(--width)) / 2);
    margin-right: calc( (100% - var(--width)) / 2);
    padding-top: 3em;
}

.nav-text{
    color: #FFF;
    font-weight: bold;
    font-size: 16pt;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

nav{
    width: 80%;
    margin-left: 10%;
}

.nav-link{
    width: 25%;
}

a{
    outline: none;
}

/* Fix Focus for accessibility reasons */
a:focus{

}