.Navbar{
    background-color: #AC2B37;
    height: 12vh;
    display: flex;
    justify-content: center;
}

.nav-img{
    height: 12vh;
    padding: 2vh;
    display: inline-block;
}


.nav-link{
    color: #FFF;
    font-size: 3vh;
    line-height: 10vh;
    text-align: center;
    outline: none;
}

.nav-link:hover, .nav-link:focus{
    text-decoration: none;
    color: #A9B0B7;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 12vh;
    margin-left: 3vh;
}

.nav-item{
    display: inline-block;
}

.pipe{
    width: 2px;
    height: 5vh;
    margin: 1vh;
    background: #FFF;
}
